<div id='container'><%= render 'posts/logo' %></div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h1>Sign up</h1>
    <%= f.input :email, required: true, placeholder: "Your Queen's email", label: false%>
    <%= f.input :name, required: true, placeholder: "firstName lastName", label: false %>
    <%= f.input :department, collection: department, label: false  %>
    <%=f.input :gender, collection: gender, label: false%>
    <%= f.input :password, required: true, placeholder: "Your password", label: false%>
    <%= f.input :password_confirmation, required: true , placeholder: "Confirm password", label: false%>
    <%= f.button :submit, "Sign up" %>

  </div>
</div>
<% end %>

