<div class="post <%=post.id %>">
	<%= post.user_name%> is looking for a study partner for course
	<%= post.course_name %>
	<%= post.course_number %>
	<%= image_tag(show_image(post.user)) %>
	<% unless current_user == post.user %>
		<%= link_to "Send Email", email_form_path(post.user_id) %>
		<%end%>
	<% if  post.user == current_user%><br/>
		<%= link_to "Edit", edit_post_path(post), remote: true %>
		<%= link_to "Delete", post_path(post), method: :DELETE, data: { confirm: 'Are you sure?' }, remote: true  %>
	<% end%>
</div>
