<% @posts.each do |post| %>
	<div id="post">
		<%= image_tag post.user.image_string %>
		<%= post.user.email %>
		<%= post.course_name %>
		<%= post.course_number %>
		<% if  post.user == current_user%>
			<%= link_to "Edit", edit_post_path(post) %>
			<%= link_to "Delete", post_path(post), method: :DELETE, data: { confirm: 'Are you sure?' }  %>
		<% end %>
	</div>
<% end%>

<%= link_to "New request", new_post_path %> <br/>
<%= link_to "profile", '/posts/profile' %>