<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<%= link_to 'Edit my account', edit_user_registration_path %><br/>
<%= link_to 'New Post', new_post_path, remote: true %>
<%= form_tag search_posts_path, method: :get do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search", name: nil %>
<% end %>

<b> Study requests </b>

<div id="post-form" style="display:none;"></div>

<%= will_paginate @posts %>

<div id="container">
	<%= render @posts %>
</div>